*{
  box-sizing: border-box;
}
body{
  background: #B1A1C6;
  margin: 0;
}
h2{
  background: #92CDDB;
  padding: 18px;
  color: white;
}
.App{
  padding: 30px;
  background: #fff;
  width: 80%;
  margin: 50px auto;
  box-shadow: 1px 2px 5px #eee; 
}
input{
  width: 80%;
  border:0;
  padding: 6px 10px;
  background: #e8e8e8;
}
button{
  width: 20%;
  border: 0;
  padding: 6px 0;
  margin:10px 0;
  outline:0;
  color:#fff;
  font-weight: bold;
  cursor: pointer;
  background: #7E8001;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  margin: 15px 0;
}
li span{
  display: inline-block;
  width: 60%;
  color: #3774BD;
}
li >button:first-of-type{
background: #FF9897;
color:#fff;
margin-right: 1%;
width: 19%;
}
li>button:last-of-type{
  background: #FFC000;
  color: #fff
}
ul>form{
  margin:15px 0;
}